<!DOCTYPE html>
<html>
    <head>
        {# Informacion en pestana del navegador #}
        <title>{% block titulo %}Sagaco{% endblock %} | UNET</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">        
        
        {# Enlace de hojas de estilos CCS #}
        {% block hojaestilos %}{% endblock %}
        
        {# Icon de la aplicacion BUSCAR EL ICON #}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    
    {# Contenido de la pagina #}
    <body id="{% block id '' %}"> {# El bloque id se asigna un valor por defecto vacio para aquellas plantillas que no lo definen #}
        {# Cuerpo de pagina #}
        {% block cuerpo %}{% endblock %}
            
        {# Pie de pagina #}
        <footer>
            {% block piepagina %}{% endblock %}
        </footer>
            
        {# Enlace y contenido de javascripts #}
        {% block javascripts %}{% endblock %}        
    </body>
</html>
