{% extends '::base.html.twig' %}
{# Enlace de hojas de estilos CCS #}
{% block hojaestilos %}
    {# Bootstrap #}
    <link href="{{ asset('css/bootstrap.css') }}" rel="stylesheet" media="screen"> 
    <link href="{{ asset('css/bootstrap.min.css') }}" rel="stylesheet">    
    
    {# HTML5 Shim and Respond.js add IE8 support of HTML5 elements and media queries #}
    {% include 'BraincraftedBootstrapBundle::ie8-support.html.twig' %}
{% endblock %} {# -- Fin hojas de estilos CCS #}

{# Cuerpo de pagina #}
{% block cuerpo %}
    <div class="navbar-fixed-top">
                    
        {# Barra del logo y Nombre del Sistema #}
        <div class="row navbar-blanca">
            <div class="col-xs-2 col-sm-1 col-md-1 col-lg-1">
                <a title="UNET" href="#">
                    <img src="../../../web/images/logo-unet_con_texto_azul2.png" alt="UNET"/>
                </a>
            </div>
            <div class="col-xs-10 col-sm-5 col-md-3 col-lg-3">
                <h5>Servicio Automatizado para la Atención de la Coordinación de Orientación</h5>
            </div>
            <div class="col-sm-6 col-md-8 col-lg-8 visible-sm visible-lg">
                <p class="text-right-sinmargen">
                    <small class="text-muted">Contactenos: +58 276 353.42.22 | computacion@unet.edu.ve</small>
                </p>
            </div>
        </div> {#-- Fin barra logo ---#}

        {# Menu #}
        <div class="row navbar-inverse">
            <div class="col-md-2">
              fasdfsddsfs  
            </div>
            <div class="col-md-8">fasdf</div>
            <div class="col-md-2">safa</div>
        </div> {#-- Fin Menu --#}

        {# Barra de ruta #}
        <div class="container navbar-blanca">                
            <ul class="breadcrumb-modi">
                <li><a href="#"><small>Inicio</small></a></li>
                <li><a href="#"><small>Library</small></a></li>
                <li><a href="#"><small>Library</small></a></li>
                <li><a href="#"><small>Library</small></a></li>
                <li><a href="#"><small>Library</small></a></li>
                <li class="active"><small>Data</small></li>
            </ul>                              
        </div> {#-- Fin Barra de ruta --#}        
    </div>
    
    <div class="container">
        <div class="well bs-component">
      {# Main component for a primary marketing message or call to action #}
            
            <form class="form-horizontal" role="form">
                <fieldset>
                    {# Titulo del requisito #}
                    <legend>
                        {% block nbr_requisito %}{% endblock %}
                    </legend> {#-- Fin Titulo del requisito #}
                    
                    {# Campos de la Forma #}
                    {% block campos %}{% endblock %}{#-- Fin Campos de la Forma #}                    
                </fieldset>
            </form>                
        </div>
    </div> {# /container #}
{% endblock %} {# -- Fin Cuerpo de pagina #}

    
{# Enlace y contenido de javascripts #}
{% block javascripts %}
    {# jQuery (necessary for Bootstraps JavaScript plugins) #}
    <script src="{{ asset('js/jquery.js') }}"></script>
    
    {# Include all JavaScripts, compiled by Assetic #}
    <script src="{{ asset('js/bootstrap.js') }}"></script>
{% endblock %} 