{# empty Twig template #}

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Rol | Sagaco</title>
</head>
<body id="rol"><div id="contenedor">
<header>
    <h1><a href="#">CUPON</a></h1>
</header>
<section>
<h1><a>{{ visRol.txDescripcion }}</a></h1>
{{ visRol.txDescripcion }}
</section>
<footer>
&copy; 201X - Cupon
<a href="#">Ayuda</a>
<a href="#">Contacto</a>
<a href="#">Privacidad</a>
<a href="#">Sobre nosotros</a>
</footer>
</div></body>
</html>