{% extends '::plantilla.html.twig' %}

{% block id 'login' %}
    {# Barra de ruta #}
    {% block ruta %}
    <div class="container navbar-blanca">                
        <ul class="breadcrumb-modi">
            <li><a href="#"><small>Inicio</small></a></li>
            <li class="active"><small>Login</small></li>
        </ul>                              
    </div> 
{% endblock %}{#-- Fin Barra de ruta --#}